## ANALISIS DE DATOS DE COMIDA (FOOD)

El presente es para analizar los datos de las comidas, el cual es un registro manual por cada usuario

In [72]:
# Importando Pandas y otras librerias
import pandas as pd
import numpy as np

In [73]:
# Parametros para calcular los valores
INTERVALO_2H = '2h'
INTERVALO_8H = '8h'
INTERVALO_24H = '24h'

In [74]:
# Leyendo el CSV
food_values = pd.read_csv('Food_Log_016.csv', engine='python', na_values="not available")

In [75]:
food_values.head(20)

,date,time_of_day,time_begin,time_end,logged_food,amount,unit,searched_food,calorie,total_carb,dietary_fiber,sugar,protein,total_fat
0,2/21/2020,6:30,2020-02-21 06:30:00,NaN,Salmon cakes,2,NaN,NaN,736,58.0,4.6,3.8,32.0,42.0
1,2/21/2020,6:30,2020-02-21 06:30:00,NaN,Large coffee with heavy cream,NaN,NaN,NaN,84,2.6,0.0,2.6,2.4,7.0
2,2/21/2020,8:30,2020-02-21 08:30:00,NaN,Standard breakfast,NaN,NaN,NaN,280,56.5,1.0,24.0,8.0,2.5
3,2/21/2020,13:15,2020-02-21 13:15:00,NaN,Ham and cheese sandwhich,NaN,NaN,NaN,517,28.0,2.3,3.6,28.0,32.0
4,2/21/2020,13:15,2020-02-21 13:15:00,NaN,Brownies,2 small,NaN,NaN,466,50.0,NaN,28.0,6.2,30.0
5,2/21/2020,13:15,2020-02-21 13:15:00,NaN,Peanut Butter,1,Tbsp,NaN,94,3.9,0.9,1.1,3.5,8.0
6,2/21/2020,16:30,2020-02-21 16:30:00,NaN,Two slices of bread,2,slices,NaN,154,28.0,1.6,3.2,5.2,1.9
7,2/21/2020,16:30,2020-02-21 16:30:00,NaN,Butter,2,Tbsp,NaN,204,0.0,0.0,0.0,0.2,24.0
8,2/21/2020,19:30,2020-02-21 19:30:00,NaN,"Chipotle burrito bowl chicken and steak, black...",NaN,NaN,NaN,1008,117.0,14.0,5.6,49.0,38.0
9,2/21/2020,19:30,2020-02-21 19:30:00,NaN,2 Yuengling beers,2,12oz bears,NaN,312,26.4,0.0,0.0,3.4,0.0
10,2/22/2020,8:00,2020-02-22 08:00:00,NaN,2 cups coffee w/ heavy cream,2,cups,NaN,168,5.0,0.0,5.0,5.0,14.0
11,2/22/2020,12:45,2020-02-22 12:45:00,NaN,Elmo's diner breakfast burrito 2 eggs/sausage/...,NaN,NaN,NaN,657,72.0,2.7,1.4,29.0,28.0
12,2/22/2020,12:45,2020-02-22 12:45:00,NaN,Side of home fried potatoes,NaN,NaN,NaN,235,45.0,NaN,0.0,6.9,3.8
13,2/22/2020,12:45,2020-02-22 12:45:00,NaN,1 cup coffee,NaN,NaN,NaN,84,2.6,0.0,2.6,2.4,7.0
14,2/23/2020,8:00,2020-02-23 08:00:00,NaN,Standard breakfast,NaN,NaN,NaN,280,56.5,1.0,24.0,8.0,2.5
15,2/23/2020,10:00,2020-02-23 10:00:00,NaN,brown rice,1,cup,NaN,218,46.0,3.6,0.0,4.6,2.6
16,2/23/2020,10:00,2020-02-23 10:00:00,NaN,sardines,1,can,NaN,25,0.0,0.0,0.0,3.0,1.4
17,2/23/2020,10:00,2020-02-23 10:00:00,NaN,kimchi,1,cup,NaN,23,3.6,2.4,1.6,1.7,0.8
18,2/23/2020,11:00,2020-02-23 11:00:00,NaN,french bread,2,slices,NaN,348,66.0,2.8,6.0,13.8,3.0
19,2/23/2020,11:00,2020-02-23 11:00:00,NaN,Swiss cheese,4,slices,NaN,424,1.6,0.0,0.0,29.0,33.0

In [76]:
food_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           45 non-null     object
 1   time_of_day    45 non-null     object
 2   time_begin     45 non-null     object
 3   time_end       0 non-null      float64
 4   logged_food    45 non-null     object
 5   amount         25 non-null     object
 6   unit           22 non-null     object
 7   searched_food  0 non-null      float64
 8   calorie        45 non-null     int64
 9   total_carb     45 non-null     float64
 10  dietary_fiber  43 non-null     float64
 11  sugar          45 non-null     float64
 12  protein        45 non-null     float64
 13  total_fat      45 non-null     float64
dtypes: float64(7), int64(1), object(6)
memory usage: 5.1+ KB

In [77]:
food_values.count()

date             45
time_of_day      45
time_begin       45
time_end          0
logged_food      45
amount           25
unit             22
searched_food     0
calorie          45
total_carb       45
dietary_fiber    43
sugar            45
protein          45
total_fat        45
dtype: int64

In [78]:
food_values["date"].head(20)

0     2/21/2020
1     2/21/2020
2     2/21/2020
3     2/21/2020
4     2/21/2020
5     2/21/2020
6     2/21/2020
7     2/21/2020
8     2/21/2020
9     2/21/2020
10    2/22/2020
11    2/22/2020
12    2/22/2020
13    2/22/2020
14    2/23/2020
15    2/23/2020
16    2/23/2020
17    2/23/2020
18    2/23/2020
19    2/23/2020
Name: date, dtype: object

### Trabajando con Datetime
Lo primero sera convertir los datetime a el formato correcto, ya que lo esta detectando como object, lo siguiente sera colocar como index las fechas y al final agrupar por cada 2, 8 y 24 horas los datos para obtener la sumatoria y media

In [79]:
# Convertimos en fechas los datimetimes
food_values['time_begin'] = pd.to_datetime(food_values['time_begin'])

In [80]:
food_values.head()

,date,time_of_day,time_begin,time_end,logged_food,amount,unit,searched_food,calorie,total_carb,dietary_fiber,sugar,protein,total_fat
0,2/21/2020,6:30,2020-02-21 06:30:00,NaN,Salmon cakes,2,NaN,NaN,736,58.0,4.6,3.8,32.0,42.0
1,2/21/2020,6:30,2020-02-21 06:30:00,NaN,Large coffee with heavy cream,NaN,NaN,NaN,84,2.6,0.0,2.6,2.4,7.0
2,2/21/2020,8:30,2020-02-21 08:30:00,NaN,Standard breakfast,NaN,NaN,NaN,280,56.5,1.0,24.0,8.0,2.5
3,2/21/2020,13:15,2020-02-21 13:15:00,NaN,Ham and cheese sandwhich,NaN,NaN,NaN,517,28.0,2.3,3.6,28.0,32.0
4,2/21/2020,13:15,2020-02-21 13:15:00,NaN,Brownies,2 small,NaN,NaN,466,50.0,NaN,28.0,6.2,30.0

In [81]:
food_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           45 non-null     object
 1   time_of_day    45 non-null     object
 2   time_begin     45 non-null     datetime64[ns]
 3   time_end       0 non-null      float64
 4   logged_food    45 non-null     object
 5   amount         25 non-null     object
 6   unit           22 non-null     object
 7   searched_food  0 non-null      float64
 8   calorie        45 non-null     int64
 9   total_carb     45 non-null     float64
 10  dietary_fiber  43 non-null     float64
 11  sugar          45 non-null     float64
 12  protein        45 non-null     float64
 13  total_fat      45 non-null     float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 5.1+ KB

In [82]:
# Definir una función para calcular el promedio de registros
def calculate_average_count(df, freq):
    resampled = df.resample(freq, on='time_begin').size()
    return resampled.mean()

In [83]:
# Empezamos por agrupar los valores importantes
# 2 horas
df_procesado_2h = food_values.resample(INTERVALO_2H, on='time_begin').agg({
    'calorie': ['sum', 'mean'],
    'total_carb': ['sum', 'mean'],
    'sugar': ['sum', 'mean'],
    'protein': ['sum', 'mean'],
})
# # 8 horas 
df_procesado_8h = food_values.resample(INTERVALO_8H, on='time_begin').agg({
    'calorie': ['sum', 'mean'],
    'total_carb': ['sum', 'mean'],
    'sugar': ['sum', 'mean'],
    'protein': ['sum', 'mean'],
})
# # 24 horas 
df_procesado_24h = food_values.resample(INTERVALO_24H, on='time_begin').agg({
    'calorie': ['sum', 'mean'],
    'total_carb': ['sum', 'mean'],
    'sugar': ['sum', 'mean'],
    'protein': ['sum', 'mean'],
})

df_procesado_24h

           calorie             total_carb             sugar             \
               sum        mean        sum       mean    sum       mean
time_begin
2020-02-21    3855  385.500000      370.4  37.040000   71.9   7.190000
2020-02-22    1144  286.000000      124.6  31.150000    9.0   2.250000
2020-02-23    2156  239.555556      297.0  33.000000   45.9   5.100000
2020-02-24     908  302.666667      101.0  33.666667   10.0   3.333333
2020-02-25    3196  456.571429      333.5  47.642857  145.5  20.785714
2020-02-26    2452  306.500000      311.7  38.962500   71.3   8.912500
2020-02-27     930  310.000000      148.5  49.500000   35.7  11.900000
2020-02-28     654  654.000000       82.0  82.000000   40.0  40.000000

           protein
               sum       mean
time_begin
2020-02-21   137.9  13.790000
2020-02-22    43.3  10.825000
2020-02-23    99.2  11.022222
2020-02-24    40.2  13.400000
2020-02-25   143.4  20.485714
2020-02-26    95.4  11.925000
2020-02-27    40.0  13.333333
2020-02-28    26.0  26.000000

In [84]:


# Agregar columnas para contar la cantidad de registros en cada intervalo de 2 horas
df_procesado_2h['cantidad_comidas'] = food_values.resample(INTERVALO_2H, on='time_begin').size()
df_procesado_8h['cantidad_comidas'] = food_values.resample(INTERVALO_8H, on='time_begin').size()
df_procesado_24h['cantidad_comidas'] = food_values.resample(INTERVALO_24H, on='time_begin').size()
df_procesado_2h

                    calorie        total_carb       sugar       protein  \
                        sum   mean        sum  mean   sum  mean     sum
time_begin
2020-02-21 06:00:00     820  410.0       60.6  30.3   6.4   3.2    34.4
2020-02-21 08:00:00     280  280.0       56.5  56.5  24.0  24.0     8.0
2020-02-21 10:00:00       0    NaN        0.0   NaN   0.0   NaN     0.0
2020-02-21 12:00:00    1077  359.0       81.9  27.3  32.7  10.9    37.7
2020-02-21 14:00:00       0    NaN        0.0   NaN   0.0   NaN     0.0
...                     ...    ...        ...   ...   ...   ...     ...
2020-02-28 00:00:00       0    NaN        0.0   NaN   0.0   NaN     0.0
2020-02-28 02:00:00       0    NaN        0.0   NaN   0.0   NaN     0.0
2020-02-28 04:00:00       0    NaN        0.0   NaN   0.0   NaN     0.0
2020-02-28 06:00:00       0    NaN        0.0   NaN   0.0   NaN     0.0
2020-02-28 08:00:00     654  654.0       82.0  82.0  40.0  40.0    26.0

                               cantidad_comidas
                          mean
time_begin
2020-02-21 06:00:00  17.200000                2
2020-02-21 08:00:00   8.000000                1
2020-02-21 10:00:00        NaN                0
2020-02-21 12:00:00  12.566667                3
2020-02-21 14:00:00        NaN                0
...                        ...              ...
2020-02-28 00:00:00        NaN                0
2020-02-28 02:00:00        NaN                0
2020-02-28 04:00:00        NaN                0
2020-02-28 06:00:00        NaN                0
2020-02-28 08:00:00  26.000000                1

[86 rows x 9 columns]

In [85]:
# Ahora agregamos la media
average_count_2h = calculate_average_count(food_values, INTERVALO_2H)
df_procesado_2h['media_comidas'] = average_count_2h

average_count_8h = calculate_average_count(food_values, INTERVALO_8H)
df_procesado_8h['media_comidas'] = average_count_8h

average_count_24h = calculate_average_count(food_values, INTERVALO_24H)
df_procesado_24h['media_comidas'] = average_count_24h

df_procesado_24h

           calorie             total_carb             sugar             \
               sum        mean        sum       mean    sum       mean
time_begin
2020-02-21    3855  385.500000      370.4  37.040000   71.9   7.190000
2020-02-22    1144  286.000000      124.6  31.150000    9.0   2.250000
2020-02-23    2156  239.555556      297.0  33.000000   45.9   5.100000
2020-02-24     908  302.666667      101.0  33.666667   10.0   3.333333
2020-02-25    3196  456.571429      333.5  47.642857  145.5  20.785714
2020-02-26    2452  306.500000      311.7  38.962500   71.3   8.912500
2020-02-27     930  310.000000      148.5  49.500000   35.7  11.900000
2020-02-28     654  654.000000       82.0  82.000000   40.0  40.000000

           protein            cantidad_comidas media_comidas
               sum       mean
time_begin
2020-02-21   137.9  13.790000               10         5.625
2020-02-22    43.3  10.825000                4         5.625
2020-02-23    99.2  11.022222                9         5.625
2020-02-24    40.2  13.400000                3         5.625
2020-02-25   143.4  20.485714                7         5.625
2020-02-26    95.4  11.925000                8         5.625
2020-02-27    40.0  13.333333                3         5.625
2020-02-28    26.0  26.000000                1         5.625

In [86]:
# Renombrar las columnas para mayor claridad
df_procesado_2h.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df_procesado_2h.columns.values]
df_procesado_8h.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df_procesado_8h.columns.values]
df_procesado_24h.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df_procesado_24h.columns.values]

print(df_procesado_8h)

                     calorie_sum  calorie_mean  total_carb_sum  \
time_begin
2020-02-21 00:00:00          820    410.000000            60.6
2020-02-21 08:00:00         1357    339.250000           138.4
2020-02-21 16:00:00         1678    419.500000           171.4
2020-02-22 00:00:00            0           NaN             0.0
2020-02-22 08:00:00         1144    286.000000           124.6
2020-02-22 16:00:00            0           NaN             0.0
2020-02-23 00:00:00            0           NaN             0.0
2020-02-23 08:00:00         1466    209.428571           174.0
2020-02-23 16:00:00          690    345.000000           123.0
2020-02-24 00:00:00            0           NaN             0.0
2020-02-24 08:00:00          168    168.000000            24.0
2020-02-24 16:00:00          740    370.000000            77.0
2020-02-25 00:00:00          280    280.000000            56.5
2020-02-25 08:00:00          818    272.666667           109.6
2020-02-25 16:00:00         2098    699.333333           167.4
2020-02-26 00:00:00            0           NaN             0.0
2020-02-26 08:00:00          367    122.333333            54.9
2020-02-26 16:00:00         2085    417.000000           256.8
2020-02-27 00:00:00            0           NaN             0.0
2020-02-27 08:00:00          930    310.000000           148.5
2020-02-27 16:00:00            0           NaN             0.0
2020-02-28 00:00:00            0           NaN             0.0
2020-02-28 08:00:00          654    654.000000            82.0

                     total_carb_mean  sugar_sum  sugar_mean  protein_sum  \
time_begin
2020-02-21 00:00:00        30.300000        6.4    3.200000         34.4
2020-02-21 08:00:00        34.600000       56.7   14.175000         45.7
2020-02-21 16:00:00        42.850000        8.8    2.200000         57.8
2020-02-22 00:00:00              NaN        0.0         NaN          0.0
2020-02-22 08:00:00        31.150000        9.0    2.250000         43.3
2020-02-22 16:00:00              NaN        0.0         NaN          0.0
2020-02-23 00:00:00              NaN        0.0         NaN          0.0
2020-02-23 08:00:00        24.857143       31.7    4.528571         68.5
2020-02-23 16:00:00        61.500000       14.2    7.100000         30.7
2020-02-24 00:00:00              NaN        0.0         NaN          0.0
2020-02-24 08:00:00        24.000000        5.2    5.200000         10.0
2020-02-24 16:00:00        38.500000        4.8    2.400000         30.2
2020-02-25 00:00:00        56.500000       24.0   24.000000          8.0
2020-02-25 08:00:00        36.533333       33.5   11.166667         28.4
2020-02-25 16:00:00        55.800000       88.0   29.333333        107.0
2020-02-26 00:00:00              NaN        0.0         NaN          0.0
2020-02-26 08:00:00        18.300000       20.3    6.766667         14.8
2020-02-26 16:00:00        51.360000       51.0   10.200000         80.6
2020-02-27 00:00:00              NaN        0.0         NaN          0.0
2020-02-27 08:00:00        49.500000       35.7   11.900000         40.0
2020-02-27 16:00:00              NaN        0.0         NaN          0.0
2020-02-28 00:00:00              NaN        0.0         NaN          0.0
2020-02-28 08:00:00        82.000000       40.0   40.000000         26.0

                     protein_mean  cantidad_comidas_  media_comidas_
time_begin
2020-02-21 00:00:00     17.200000                  2        1.956522
2020-02-21 08:00:00     11.425000                  4        1.956522
2020-02-21 16:00:00     14.450000                  4        1.956522
2020-02-22 00:00:00           NaN                  0        1.956522
2020-02-22 08:00:00     10.825000                  4        1.956522
2020-02-22 16:00:00           NaN                  0        1.956522
2020-02-23 00:00:00           NaN                  0        1.956522
2020-02-23 08:00:00      9.785714                  7        1.956522
2020-02-23 16:00:00     15.350000                  2        1.956522
2020-02-24 00:00:00           NaN                  0        1.956522
2020-02-24 08:00:00     10.000000                  1        1.956522
2020-02-24 16:00:00     15.100000                  2        1.956522
2020-02-25 00:00:00      8.000000                  1        1.956522
2020-02-25 08:00:00      9.466667                  3        1.956522
2020-02-25 16:00:00     35.666667                  3        1.956522
2020-02-26 00:00:00           NaN                  0        1.956522
2020-02-26 08:00:00      4.933333                  3        1.956522
2020-02-26 16:00:00     16.120000                  5        1.956522
2020-02-27 00:00:00           NaN                  0        1.956522
2020-02-27 08:00:00     13.333333                  3        1.956522
2020-02-27 16:00:00           NaN                  0        1.956522
2020-02-28 00:00:00           NaN                  0        1.956522
2020-02-28 08:00:00     26.000000                  1        1.956522

In [87]:
df_procesado_8h.head()

,calorie_sum,calorie_mean,total_carb_sum,total_carb_mean,sugar_sum,sugar_mean,protein_sum,protein_mean,cantidad_comidas_,media_comidas_
time_begin,,,,,,,,,,
2020-02-21 00:00:00,820,410.00,60.6,30.30,6.4,3.200,34.4,17.200,2,1.956522
2020-02-21 08:00:00,1357,339.25,138.4,34.60,56.7,14.175,45.7,11.425,4,1.956522
2020-02-21 16:00:00,1678,419.50,171.4,42.85,8.8,2.200,57.8,14.450,4,1.956522
2020-02-22 00:00:00,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0,1.956522
2020-02-22 08:00:00,1144,286.00,124.6,31.15,9.0,2.250,43.3,10.825,4,1.956522

In [88]:
# Exportamos los resultados en un csv
df_procesado_2h.to_csv("Food_2h.csv")
df_procesado_8h.to_csv("Food_8h.csv")
df_procesado_24h.to_csv("Food_24h.csv")

### ARCHIVOS CSV GENERADOS CON EXITO PARA 2 HORAS, 8 HORAS Y 24 HORAS