## ANALISIS DE DATOS DE COMIDA (FOOD)

El presente es para analizar los datos de las comidas, el cual es un registro manual por cada usuario

In [793]:
# Importando Pandas y otras librerias
import pandas as pd
import numpy as np

In [794]:
# Parametros para calcular los valores
INTERVALO_2H = '2h'
INTERVALO_8H = '8h'
INTERVALO_24H = '24h'

In [795]:
PACIENTE = '001'
PATH_FOLDER = 'G:\\Dataset\\big-ideas-lab-glycemic-variability-and-wearable-device-data-1.1.2\\'+PACIENTE+'\\'

In [796]:
# Leyendo el CSV
food_values = pd.read_csv(PATH_FOLDER + 'Food_Log_'+PACIENTE+'.csv', engine='python', na_values="not available")

In [797]:
food_values.head()

,date,time,time_begin,time_end,logged_food,amount,unit,searched_food,calorie,total_carb,dietary_fiber,sugar,protein,total_fat
0,2020-02-13,18:00:00,2020-02-13 18:00:00,NaN,Berry Smoothie,20.00,fluid ounce,Strawberry Smoothie,456.0,85.0,1.7,83.0,16.0,3.3
1,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Chicken Leg,1.00,NaN,chicken leg,475.0,0.0,0.0,0.0,62.0,23.0
2,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Asparagus,4.00,NaN,Asparagus,13.0,2.5,1.2,0.8,1.4,0.1
3,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Natrel Lactose Free 2 Percent,8.00,fluid ounce,(Natrel) Lactose Free 2% Partly Skimmed Milk,120.0,9.0,NaN,8.0,12.0,NaN
4,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Standard Breakfast,0.75,cup,"(Kellogg's) Frosted Flakes, Cereal",110.0,26.0,NaN,10.0,1.0,NaN

In [798]:
food_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           61 non-null     object
 1   time           61 non-null     object
 2   time_begin     61 non-null     object
 3   time_end       0 non-null      float64
 4   logged_food    61 non-null     object
 5   amount         60 non-null     float64
 6   unit           40 non-null     object
 7   searched_food  60 non-null     object
 8   calorie        61 non-null     float64
 9   total_carb     61 non-null     float64
 10  dietary_fiber  4 non-null      float64
 11  sugar          61 non-null     float64
 12  protein        61 non-null     float64
 13  total_fat      4 non-null      float64
dtypes: float64(8), object(6)
memory usage: 6.8+ KB

In [799]:
food_values.count()

date             61
time             61
time_begin       61
time_end          0
logged_food      61
amount           60
unit             40
searched_food    60
calorie          61
total_carb       61
dietary_fiber     4
sugar            61
protein          61
total_fat         4
dtype: int64

In [800]:
# Convertimos en fechas los datimetimes
food_values['time_begin'] = pd.to_datetime(food_values['time_begin'])

### REAJUSTAR LOS TIEMPOS
Como se puede apreciar, los datos de los registros de comida no son precisos. Por ejemplo, el primer registro de comida se realizó en Febrero y los demas datos de los medidores son en Julio, si contar que son dias distintos.

In [801]:
flag_wrong_date = False
if(PACIENTE == '016' or PACIENTE == '015'):
    food_values['datetime'] = food_values['time_begin'].apply(lambda x: x.replace(month=7))
    flag_wrong_date = True
elif (PACIENTE == '007'):
    food_values['datetime'] = food_values['time_begin'].apply(lambda x: x.replace(month=3))
    flag_wrong_date = True
elif (PACIENTE == '013'):
    food_values['datetime'] = food_values['time_begin'].apply(lambda x: x.replace(month=5))
    flag_wrong_date = True
else:
    food_values['datetime'] = food_values['time_begin']   

food_values.head()

,date,time,time_begin,time_end,logged_food,amount,unit,searched_food,calorie,total_carb,dietary_fiber,sugar,protein,total_fat,datetime
0,2020-02-13,18:00:00,2020-02-13 18:00:00,NaN,Berry Smoothie,20.00,fluid ounce,Strawberry Smoothie,456.0,85.0,1.7,83.0,16.0,3.3,2020-02-13 18:00:00
1,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Chicken Leg,1.00,NaN,chicken leg,475.0,0.0,0.0,0.0,62.0,23.0,2020-02-13 20:30:00
2,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Asparagus,4.00,NaN,Asparagus,13.0,2.5,1.2,0.8,1.4,0.1,2020-02-13 20:30:00
3,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Natrel Lactose Free 2 Percent,8.00,fluid ounce,(Natrel) Lactose Free 2% Partly Skimmed Milk,120.0,9.0,NaN,8.0,12.0,NaN,2020-02-14 07:10:00
4,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Standard Breakfast,0.75,cup,"(Kellogg's) Frosted Flakes, Cereal",110.0,26.0,NaN,10.0,1.0,NaN,2020-02-14 07:10:00

In [802]:
if(flag_wrong_date):
    # Fecha inicial
    match PACIENTE:
        case '016':
            fecha_inicial = pd.Timestamp('2020-07-16')
        case '015':
            fecha_inicial = pd.Timestamp('2020-07-19')
        case '013':
            fecha_inicial = pd.Timestamp('2020-05-28')
        case '007':
            fecha_inicial = pd.Timestamp('2020-03-14')
    
    # Actualizar las fechas de forma correlativa
    # Obtener las fechas únicas y asignar nuevas fechas correlativas
    fechas_unicas = food_values['datetime'].dt.date.unique()
    nuevas_fechas = [fecha_inicial + pd.Timedelta(days=i) for i in range(len(fechas_unicas))]

    # Crear un diccionario para mapear las fechas originales a las nuevas
    mapeo_fechas = dict(zip(fechas_unicas, nuevas_fechas))

    # Asignar la nueva fecha usando el mapeo
    food_values['nueva_fecha'] = food_values['datetime'].dt.date.map(mapeo_fechas)

    food_values['datetime'] =  pd.to_datetime(food_values['nueva_fecha']) + food_values['datetime'].dt.time.apply(lambda x: pd.Timedelta(hours=x.hour, minutes=x.minute, seconds=x.second))
food_values.head()

,date,time,time_begin,time_end,logged_food,amount,unit,searched_food,calorie,total_carb,dietary_fiber,sugar,protein,total_fat,datetime
0,2020-02-13,18:00:00,2020-02-13 18:00:00,NaN,Berry Smoothie,20.00,fluid ounce,Strawberry Smoothie,456.0,85.0,1.7,83.0,16.0,3.3,2020-02-13 18:00:00
1,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Chicken Leg,1.00,NaN,chicken leg,475.0,0.0,0.0,0.0,62.0,23.0,2020-02-13 20:30:00
2,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Asparagus,4.00,NaN,Asparagus,13.0,2.5,1.2,0.8,1.4,0.1,2020-02-13 20:30:00
3,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Natrel Lactose Free 2 Percent,8.00,fluid ounce,(Natrel) Lactose Free 2% Partly Skimmed Milk,120.0,9.0,NaN,8.0,12.0,NaN,2020-02-14 07:10:00
4,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Standard Breakfast,0.75,cup,"(Kellogg's) Frosted Flakes, Cereal",110.0,26.0,NaN,10.0,1.0,NaN,2020-02-14 07:10:00

### Trabajando con Datetime
Lo primero sera convertir los datetime a el formato correcto, ya que lo esta detectando como object, lo siguiente sera colocar como index las fechas y al final agrupar por cada 2, 8 y 24 horas los datos para obtener la sumatoria y media

In [803]:
# Definir una función para calcular el promedio de registros
def calculate_average_count(df, freq):
    resampled = df.resample(freq, on='datetime').size()
    return resampled.mean()

In [804]:
# Empezamos por agrupar los valores importantes
# 2 horas
df_procesado_2h = food_values.resample(INTERVALO_2H, on='datetime').agg({
    'calorie': ['sum', 'mean'],
    'total_carb': ['sum', 'mean'],
    'sugar': ['sum', 'mean'],
    'protein': ['sum', 'mean'],
})
# # 8 horas 
df_procesado_8h = food_values.resample(INTERVALO_8H, on='datetime').agg({
    'calorie': ['sum', 'mean'],
    'total_carb': ['sum', 'mean'],
    'sugar': ['sum', 'mean'],
    'protein': ['sum', 'mean'],
})
# # 24 horas 
df_procesado_24h = food_values.resample(INTERVALO_24H, on='datetime').agg({
    'calorie': ['sum', 'mean'],
    'total_carb': ['sum', 'mean'],
    'sugar': ['sum', 'mean'],
    'protein': ['sum', 'mean'],
})

df_procesado_24h

           calorie             total_carb             sugar             \
               sum        mean        sum       mean    sum       mean
datetime
2020-02-13   944.0  314.666667       87.5  29.166667   83.8  27.933333
2020-02-14  1760.0  220.000000      224.9  28.112500  125.3  15.662500
2020-02-15  1715.0  171.500000      180.9  18.090000  102.5  10.250000
2020-02-16  1081.0  135.125000      125.5  15.687500   80.4  10.050000
2020-02-17   860.7  143.450000      118.2  19.700000   45.2   7.533333
2020-02-18  1802.5  300.416667      188.4  31.400000   75.8  12.633333
2020-02-19  1521.0  380.250000      169.0  42.250000  100.9  25.225000
2020-02-20  1050.0  131.250000      214.9  26.862500  117.4  14.675000
2020-02-21  2042.0  291.714286      311.6  44.514286   61.2   8.742857
2020-02-22   654.0  654.000000       82.0  82.000000   40.0  40.000000

           protein
               sum       mean
datetime
2020-02-13    79.4  26.466667
2020-02-14    51.9   6.487500
2020-02-15    76.1   7.610000
2020-02-16    60.7   7.587500
2020-02-17    25.4   4.233333
2020-02-18    82.8  13.800000
2020-02-19    93.0  23.250000
2020-02-20    29.7   3.712500
2020-02-21    92.2  13.171429
2020-02-22    26.0  26.000000

In [805]:


# Agregar columnas para contar la cantidad de registros en cada intervalo de 2 horas
df_procesado_2h['cantidad_comidas'] = food_values.resample(INTERVALO_2H, on='datetime').size()
df_procesado_8h['cantidad_comidas'] = food_values.resample(INTERVALO_8H, on='datetime').size()
df_procesado_24h['cantidad_comidas'] = food_values.resample(INTERVALO_24H, on='datetime').size()
df_procesado_2h

                    calorie        total_carb        sugar       protein  \
                        sum   mean        sum   mean   sum  mean     sum
datetime
2020-02-13 18:00:00   456.0  456.0       85.0  85.00  83.0  83.0    16.0
2020-02-13 20:00:00   488.0  244.0        2.5   1.25   0.8   0.4    63.4
2020-02-13 22:00:00     0.0    NaN        0.0    NaN   0.0   NaN     0.0
2020-02-14 00:00:00     0.0    NaN        0.0    NaN   0.0   NaN     0.0
2020-02-14 02:00:00     0.0    NaN        0.0    NaN   0.0   NaN     0.0
...                     ...    ...        ...    ...   ...   ...     ...
2020-02-22 06:00:00     0.0    NaN        0.0    NaN   0.0   NaN     0.0
2020-02-22 08:00:00     0.0    NaN        0.0    NaN   0.0   NaN     0.0
2020-02-22 10:00:00     0.0    NaN        0.0    NaN   0.0   NaN     0.0
2020-02-22 12:00:00     0.0    NaN        0.0    NaN   0.0   NaN     0.0
2020-02-22 14:00:00   654.0  654.0       82.0  82.00  40.0  40.0    26.0

                          cantidad_comidas
                     mean
datetime
2020-02-13 18:00:00  16.0                1
2020-02-13 20:00:00  31.7                2
2020-02-13 22:00:00   NaN                0
2020-02-14 00:00:00   NaN                0
2020-02-14 02:00:00   NaN                0
...                   ...              ...
2020-02-22 06:00:00   NaN                0
2020-02-22 08:00:00   NaN                0
2020-02-22 10:00:00   NaN                0
2020-02-22 12:00:00   NaN                0
2020-02-22 14:00:00  26.0                1

[107 rows x 9 columns]

In [806]:
# Ahora agregamos la media
average_count_2h = calculate_average_count(food_values, INTERVALO_2H)
df_procesado_2h['media_comidas'] = average_count_2h

average_count_8h = calculate_average_count(food_values, INTERVALO_8H)
df_procesado_8h['media_comidas'] = average_count_8h

average_count_24h = calculate_average_count(food_values, INTERVALO_24H)
df_procesado_24h['media_comidas'] = average_count_24h

df_procesado_24h

           calorie             total_carb             sugar             \
               sum        mean        sum       mean    sum       mean
datetime
2020-02-13   944.0  314.666667       87.5  29.166667   83.8  27.933333
2020-02-14  1760.0  220.000000      224.9  28.112500  125.3  15.662500
2020-02-15  1715.0  171.500000      180.9  18.090000  102.5  10.250000
2020-02-16  1081.0  135.125000      125.5  15.687500   80.4  10.050000
2020-02-17   860.7  143.450000      118.2  19.700000   45.2   7.533333
2020-02-18  1802.5  300.416667      188.4  31.400000   75.8  12.633333
2020-02-19  1521.0  380.250000      169.0  42.250000  100.9  25.225000
2020-02-20  1050.0  131.250000      214.9  26.862500  117.4  14.675000
2020-02-21  2042.0  291.714286      311.6  44.514286   61.2   8.742857
2020-02-22   654.0  654.000000       82.0  82.000000   40.0  40.000000

           protein            cantidad_comidas media_comidas
               sum       mean
datetime
2020-02-13    79.4  26.466667                3           6.1
2020-02-14    51.9   6.487500                8           6.1
2020-02-15    76.1   7.610000               10           6.1
2020-02-16    60.7   7.587500                8           6.1
2020-02-17    25.4   4.233333                6           6.1
2020-02-18    82.8  13.800000                6           6.1
2020-02-19    93.0  23.250000                4           6.1
2020-02-20    29.7   3.712500                8           6.1
2020-02-21    92.2  13.171429                7           6.1
2020-02-22    26.0  26.000000                1           6.1

In [807]:
# Renombrar las columnas para mayor claridad
df_procesado_2h.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df_procesado_2h.columns.values]
df_procesado_8h.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df_procesado_8h.columns.values]
df_procesado_24h.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df_procesado_24h.columns.values]

print(df_procesado_8h)

                     calorie_sum  calorie_mean  total_carb_sum  \
datetime
2020-02-13 16:00:00        944.0    314.666667            87.5
2020-02-14 00:00:00        230.0    115.000000            35.0
2020-02-14 08:00:00        638.0    212.666667            44.4
2020-02-14 16:00:00        892.0    297.333333           145.5
2020-02-15 00:00:00        308.0    308.000000            69.0
2020-02-15 08:00:00        989.0    197.800000            74.7
2020-02-15 16:00:00        418.0    104.500000            37.2
2020-02-16 00:00:00        230.0    115.000000            35.0
2020-02-16 08:00:00        839.0    167.800000            87.1
2020-02-16 16:00:00         12.0     12.000000             3.4
2020-02-17 00:00:00        158.0    158.000000            33.0
2020-02-17 08:00:00        227.0    113.500000            28.2
2020-02-17 16:00:00        475.7    158.566667            57.0
2020-02-18 00:00:00        537.5    179.166667           105.0
2020-02-18 08:00:00        489.0    244.500000            53.0
2020-02-18 16:00:00        776.0    776.000000            30.4
2020-02-19 00:00:00          0.0           NaN             0.0
2020-02-19 08:00:00        675.0    337.500000           126.0
2020-02-19 16:00:00        846.0    423.000000            43.0
2020-02-20 00:00:00        447.0    223.500000            96.0
2020-02-20 08:00:00        235.0     78.333333            35.1
2020-02-20 16:00:00        368.0    122.666667            83.8
2020-02-21 00:00:00        230.0    115.000000            35.0
2020-02-21 08:00:00        864.0    288.000000           112.6
2020-02-21 16:00:00        948.0    474.000000           164.0
2020-02-22 00:00:00          0.0           NaN             0.0
2020-02-22 08:00:00        654.0    654.000000            82.0

                     total_carb_mean  sugar_sum  sugar_mean  protein_sum  \
datetime
2020-02-13 16:00:00        29.166667       83.8   27.933333         79.4
2020-02-14 00:00:00        17.500000       18.0    9.000000         13.0
2020-02-14 08:00:00        14.800000       30.7   10.233333         17.9
2020-02-14 16:00:00        48.500000       76.6   25.533333         21.0
2020-02-15 00:00:00        69.000000       38.0   38.000000          7.2
2020-02-15 08:00:00        14.940000       53.0   10.600000         26.9
2020-02-15 16:00:00         9.300000       11.5    2.875000         42.0
2020-02-16 00:00:00        17.500000       18.0    9.000000         13.0
2020-02-16 08:00:00        17.420000       62.4   12.480000         47.5
2020-02-16 16:00:00         3.400000        0.0    0.000000          0.2
2020-02-17 00:00:00        33.000000       13.0   13.000000          4.0
2020-02-17 08:00:00        14.100000       17.0    8.500000          7.5
2020-02-17 16:00:00        19.000000       15.2    5.066667         13.9
2020-02-18 00:00:00        35.000000       55.5   18.500000         20.3
2020-02-18 08:00:00        26.500000       19.7    9.850000         18.5
2020-02-18 16:00:00        30.400000        0.6    0.600000         44.0
2020-02-19 00:00:00              NaN        0.0         NaN          0.0
2020-02-19 08:00:00        63.000000       96.0   48.000000          8.0
2020-02-19 16:00:00        21.500000        4.9    2.450000         85.0
2020-02-20 00:00:00        48.000000       42.4   21.200000         12.7
2020-02-20 08:00:00        11.700000       26.5    8.833333          8.3
2020-02-20 16:00:00        27.933333       48.5   16.166667          8.7
2020-02-21 00:00:00        17.500000       18.0    9.000000         13.0
2020-02-21 08:00:00        37.533333        5.2    1.733333         42.0
2020-02-21 16:00:00        82.000000       38.0   19.000000         37.2
2020-02-22 00:00:00              NaN        0.0         NaN          0.0
2020-02-22 08:00:00        82.000000       40.0   40.000000         26.0

                     protein_mean  cantidad_comidas_  media_comidas_
datetime
2020-02-13 16:00:00     26.466667                  3        2.259259
2020-02-14 00:00:00      6.500000                  2        2.259259
2020-02-14 08:00:00      5.966667                  3        2.259259
2020-02-14 16:00:00      7.000000                  3        2.259259
2020-02-15 00:00:00      7.200000                  1        2.259259
2020-02-15 08:00:00      5.380000                  5        2.259259
2020-02-15 16:00:00     10.500000                  4        2.259259
2020-02-16 00:00:00      6.500000                  2        2.259259
2020-02-16 08:00:00      9.500000                  5        2.259259
2020-02-16 16:00:00      0.200000                  1        2.259259
2020-02-17 00:00:00      4.000000                  1        2.259259
2020-02-17 08:00:00      3.750000                  2        2.259259
2020-02-17 16:00:00      4.633333                  3        2.259259
2020-02-18 00:00:00      6.766667                  3        2.259259
2020-02-18 08:00:00      9.250000                  2        2.259259
2020-02-18 16:00:00     44.000000                  1        2.259259
2020-02-19 00:00:00           NaN                  0        2.259259
2020-02-19 08:00:00      4.000000                  2        2.259259
2020-02-19 16:00:00     42.500000                  2        2.259259
2020-02-20 00:00:00      6.350000                  2        2.259259
2020-02-20 08:00:00      2.766667                  3        2.259259
2020-02-20 16:00:00      2.900000                  3        2.259259
2020-02-21 00:00:00      6.500000                  2        2.259259
2020-02-21 08:00:00     14.000000                  3        2.259259
2020-02-21 16:00:00     18.600000                  2        2.259259
2020-02-22 00:00:00           NaN                  0        2.259259
2020-02-22 08:00:00     26.000000                  1        2.259259

In [808]:
df_procesado_8h.head()

,calorie_sum,calorie_mean,total_carb_sum,total_carb_mean,sugar_sum,sugar_mean,protein_sum,protein_mean,cantidad_comidas_,media_comidas_
datetime,,,,,,,,,,
2020-02-13 16:00:00,944.0,314.666667,87.5,29.166667,83.8,27.933333,79.4,26.466667,3,2.259259
2020-02-14 00:00:00,230.0,115.000000,35.0,17.500000,18.0,9.000000,13.0,6.500000,2,2.259259
2020-02-14 08:00:00,638.0,212.666667,44.4,14.800000,30.7,10.233333,17.9,5.966667,3,2.259259
2020-02-14 16:00:00,892.0,297.333333,145.5,48.500000,76.6,25.533333,21.0,7.000000,3,2.259259
2020-02-15 00:00:00,308.0,308.000000,69.0,69.000000,38.0,38.000000,7.2,7.200000,1,2.259259

In [809]:
# Exportamos los resultados en un csv
df_procesado_2h.to_csv("Food_2h_"+PACIENTE+".csv")
df_procesado_8h.to_csv("Food_8h_"+PACIENTE+".csv")
df_procesado_24h.to_csv("Food_24h_"+PACIENTE+".csv")

### ARCHIVOS CSV GENERADOS CON EXITO PARA 2 HORAS, 8 HORAS Y 24 HORAS