## ANALISIS DE DATOS DE TEMP (TEMPERATURE SKIN)

El presente es para analizar los datos de la temperatura de la piel del smartwatch, el cual tiene un procesamiento de datos en 4Hz, que serian 4 registros por segundo

In [117]:
# Importando Pandas y otras librerias
import pandas as pd
import numpy as np

In [118]:
# Leyendo el CSV
temperature_values = pd.read_csv('TEMP_016.csv', engine='python', na_values="not available")

In [119]:
temperature_values.head()

                  datetime   temp
0  2020-07-16 09:29:03.000  26.87
1  2020-07-16 09:29:03.250  26.87
2  2020-07-16 09:29:03.500  26.87
3  2020-07-16 09:29:03.750  26.87
4  2020-07-16 09:29:04.000  26.87

In [120]:
temperature_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2232584 entries, 0 to 2232583
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  object
 1    temp     float64
dtypes: float64(1), object(1)
memory usage: 34.1+ MB

In [121]:
temperature_values.count()

datetime    2232584
 temp       2232584
dtype: int64

In [122]:
temperature_values["datetime"].head()

0    2020-07-16 09:29:03.000
1    2020-07-16 09:29:03.250
2    2020-07-16 09:29:03.500
3    2020-07-16 09:29:03.750
4    2020-07-16 09:29:04.000
Name: datetime, dtype: object

### Trabajando con Datetime
Lo primero sera convertir los datetime a el formato correcto, ya que lo esta detectando como object, lo siguiente sera colocar como index las fechas y al final agrupar por cada 5 minutos los datos para obtener el promedio y media de los datos

In [123]:
# Convertimos en fechas los datimetimes
temperature_values['datetime'] = pd.to_datetime(temperature_values['datetime'])
print(temperature_values.columns)

Index(['datetime', ' temp'], dtype='object')

In [124]:


## Se coloca indices como datetime
temperature_values = temperature_values.set_index('datetime')
print(temperature_values.columns)

Index([' temp'], dtype='object')

In [125]:
df_procesado_5min = temperature_values[' temp'].resample('5min')

### Calculamos le media, la mediana y demas factores de estadistica

En este caso tenemos que obtener el promedio, mediana, max, min, desviacion estandar y quartiles

In [126]:
# Funcion para calcular los cuartiles 1 y 3 que indican en el paper
# 
def quartiles(x):
    return pd.Series([x.quantile(0.25), x.quantile(0.75)], index=['q1', 'q3'])

In [127]:
# Crear a serie de dataframe de 5 min
series5min = quartiles(df_procesado_5min)
series5min.head()

q1    datetime
2020-07-16 09:25:00    26.71
2020-07-...
q3    datetime
2020-07-16 09:25:00    30.170
2020-07...
dtype: object

In [129]:
# Definimos los metodos del dataframe a calcular
df_5min = df_procesado_5min.agg(['mean', 'median', 'max', 'min', 'std'])
print(df_5min.columns)
# Removemos las columnas que no necesitamos por ahora
# Supongamos que tienes tus datos en un DataFrame llamado 'df'
# columns_to_remove = [' temp']
# df_5min = df_5min.drop(columns=columns_to_remove)
df_5min.head(20)

Index(['mean', 'median', 'max', 'min', 'std'], dtype='object')

                          mean  median    max    min       std
datetime
2020-07-16 09:25:00  28.031053   28.37  30.33  23.71  2.101171
2020-07-16 09:30:00  31.415867   31.44  31.87  30.33  0.363143
2020-07-16 09:35:00  31.871467   31.87  32.13  31.61  0.151529
2020-07-16 09:40:00  32.197567   31.99  33.34  31.61  0.532143
2020-07-16 09:45:00  33.419567   33.45  33.63  33.09  0.141820
2020-07-16 09:50:00  32.830567   32.81  33.11  32.66  0.095066
2020-07-16 09:55:00  32.716700   32.71  32.91  32.55  0.088408
2020-07-16 10:00:00  32.994100   32.97  33.13  32.84  0.060684
2020-07-16 10:05:00  32.638567   32.83  32.99  31.79  0.381158
2020-07-16 10:10:00  31.322200   31.24  31.81  30.95  0.280263
2020-07-16 10:15:00  30.828333   30.84  31.27  30.35  0.239858
2020-07-16 10:20:00  30.174533   30.19  30.39  29.89  0.131562
2020-07-16 10:25:00  30.208133   30.19  30.43  30.01  0.110327
2020-07-16 10:30:00  30.449333   30.45  30.59  30.23  0.097746
2020-07-16 10:35:00  30.594933   30.67  30.75  30.01  0.189266
2020-07-16 10:40:00  30.883000   30.91  31.93  29.99  0.538934
2020-07-16 10:45:00  32.027400   32.00  32.29  31.77  0.113199
2020-07-16 10:50:00  31.925800   31.91  32.15  31.73  0.081457
2020-07-16 10:55:00  31.643867   31.64  31.93  31.39  0.144632
2020-07-16 11:00:00  30.992067   30.93  31.39  30.71  0.208413

In [130]:
# Lo mismo aplicamos para 1 hora
df_procesado_1hora = temperature_values[' temp'].resample('1h') 
# Obtenemos el promedio
df_1hora = df_procesado_1hora.agg(['mean', 'median', 'max', 'min', 'std'])

# Removemos las columnas que no necesitamos por ahora
# df_1hora = df_1hora.drop(columns=columns_to_remove)
df_1hora.head(20)

                          mean  median    max    min       std
datetime
2020-07-16 09:00:00  32.274254   32.63  33.63  23.71  1.097329
2020-07-16 10:00:00  31.307517   31.19  33.13  29.89  0.933959
2020-07-16 11:00:00  29.122922   29.09  31.39  27.39  1.096644
2020-07-16 12:00:00  27.069400   27.01  27.75  26.49  0.295452
2020-07-16 13:00:00  31.966378   32.39  34.57  26.37  1.999609
2020-07-16 14:00:00  31.293208   31.39  32.47  29.75  0.533989
2020-07-16 15:00:00  32.237117   32.09  34.99  30.81  1.109777
2020-07-16 16:00:00  34.227347   34.47  35.65  31.87  0.875176
2020-07-16 17:00:00  34.171061   33.91  35.66  32.66  0.654674
2020-07-16 18:00:00  32.712789   32.79  33.75  31.15  0.634823
2020-07-16 19:00:00  31.793133   31.13  34.83  29.15  1.710237
2020-07-16 20:00:00  32.609686   32.45  34.39  31.03  0.995098
2020-07-16 21:00:00  29.576106   29.41  31.47  28.43  0.872154
2020-07-16 22:00:00  29.715978   29.85  30.47  28.45  0.465950
2020-07-16 23:00:00  28.793450   28.75  29.59  27.41  0.446599
2020-07-17 00:00:00  32.787706   33.63  35.09  29.57  1.907043
2020-07-17 01:00:00  35.236933   35.25  35.39  35.07  0.058078
2020-07-17 02:00:00  35.230236   35.18  35.49  34.95  0.188046
2020-07-17 03:00:00  34.682911   34.79  35.33  33.93  0.505427
2020-07-17 04:00:00  35.157142   35.15  35.34  34.99  0.085635

In [135]:
# Separar los cuartiles en columnas individuales
# Obtenemos los quantiles
df_5min_quantil1 = df_procesado_5min.quantile(0.25)
df_5min_quantil3 = df_procesado_5min.quantile(0.75)
df_1hora_quantil1 = df_procesado_1hora.quantile(0.25)
df_1hora_quantil3 = df_procesado_1hora.quantile(0.75)
df_5min['q1'] = df_5min_quantil1
df_5min['q3'] = df_5min_quantil3
df_5min.head(10)
# df_1hora[['q1', 'q3']] = [df_1hora_quantil1,df_1hora_quantil3]

                          mean  median    max    min       std     q1      q3
datetime
2020-07-16 09:25:00  28.031053   28.37  30.33  23.71  2.101171  26.71  30.170
2020-07-16 09:30:00  31.415867   31.44  31.87  30.33  0.363143  31.19  31.710
2020-07-16 09:35:00  31.871467   31.87  32.13  31.61  0.151529  31.73  32.000
2020-07-16 09:40:00  32.197567   31.99  33.34  31.61  0.532143  31.77  32.665
2020-07-16 09:45:00  33.419567   33.45  33.63  33.09  0.141820  33.34  33.530
2020-07-16 09:50:00  32.830567   32.81  33.11  32.66  0.095066  32.79  32.840
2020-07-16 09:55:00  32.716700   32.71  32.91  32.55  0.088408  32.65  32.770
2020-07-16 10:00:00  32.994100   32.97  33.13  32.84  0.060684  32.95  33.050
2020-07-16 10:05:00  32.638567   32.83  32.99  31.79  0.381158  32.39  32.930
2020-07-16 10:10:00  31.322200   31.24  31.81  30.95  0.280263  31.05  31.630

In [134]:
df_5min.count()

mean      1866
median    1866
max       1866
min       1866
std       1866
q1        1866
dtype: int64

In [136]:
# Igual con 1hora de dataset
df_1hora['q1'] = df_1hora_quantil1
df_1hora['q3'] = df_1hora_quantil3
df_1hora.head(10)

                          mean  median    max    min       std      q1     q3
datetime
2020-07-16 09:00:00  32.274254   32.63  33.63  23.71  1.097329  31.750  32.84
2020-07-16 10:00:00  31.307517   31.19  33.13  29.89  0.933959  30.470  31.95
2020-07-16 11:00:00  29.122922   29.09  31.39  27.39  1.096644  28.050  30.09
2020-07-16 12:00:00  27.069400   27.01  27.75  26.49  0.295452  26.830  27.21
2020-07-16 13:00:00  31.966378   32.39  34.57  26.37  1.999609  32.000  33.05
2020-07-16 14:00:00  31.293208   31.39  32.47  29.75  0.533989  30.910  31.57
2020-07-16 15:00:00  32.237117   32.09  34.99  30.81  1.109777  31.250  32.65
2020-07-16 16:00:00  34.227347   34.47  35.65  31.87  0.875176  33.530  34.87
2020-07-16 17:00:00  34.171061   33.91  35.66  32.66  0.654674  33.710  34.66
2020-07-16 18:00:00  32.712789   32.79  33.75  31.15  0.634823  32.305  33.18

In [137]:
df_1hora.count()

mean      161
median    161
max       161
min       161
std       161
q1        161
q3        161
dtype: int64

In [138]:
# Exportamos los resultados en un csv
df_5min.to_csv("TEMP_5min.csv")
df_1hora.to_csv("TEMP_1hora.csv")

### ARCHIVOS CSV GENERADOS CON EXITO PARA 5 MIN Y 1 HORA