## ANALISIS DE DATOS DE PULSO DE VOLUMEN SANGUINEO (BVP)

El presente es para analizar los datos de pulso de volumen sanguineo del smartwatch, el cual tiene un procesamiento de datos en 64 Hz

In [2]:
# Importando Pandas y otras librerias
import pandas as pd
import numpy as np

In [3]:
# Leyendo el CSV
bvp_values = pd.read_csv('BVP_016.csv', engine='python', na_values="not available")

In [4]:
bvp_values.head()

                     datetime   bvp
0  2020-07-16 09:29:03.000000  -0.0
1  2020-07-16 09:29:03.015625  -0.0
2  2020-07-16 09:29:03.031250  -0.0
3  2020-07-16 09:29:03.046875  -0.0
4  2020-07-16 09:29:03.062500  -0.0

In [5]:
bvp_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35721598 entries, 0 to 35721597
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  object
 1    bvp      float64
dtypes: float64(1), object(1)
memory usage: 545.1+ MB

In [6]:
bvp_values.count()

datetime    35721598
 bvp        35721598
dtype: int64

In [7]:
bvp_values["datetime"].head()

0    2020-07-16 09:29:03.000000
1    2020-07-16 09:29:03.015625
2    2020-07-16 09:29:03.031250
3    2020-07-16 09:29:03.046875
4    2020-07-16 09:29:03.062500
Name: datetime, dtype: object

### Trabajando con Datetime
Lo primero sera convertir los datetime a el formato correcto, ya que lo esta detectando como object, lo siguiente sera colocar como index las fechas y al final agrupar por cada 5 minutos los datos para obtener el promedio y media de los datos

In [8]:
# Convertimos en fechas los datimetimes
bvp_values['datetime'] = pd.to_datetime(bvp_values['datetime'])
print(bvp_values.columns)

Index(['datetime', ' bvp'], dtype='object')

In [9]:


## Se coloca indices como datetime
bvp_values = bvp_values.set_index('datetime')
print(bvp_values.columns)

Index([' bvp'], dtype='object')

In [10]:
df_procesado_5min = bvp_values[' bvp'].resample('5min')

### Calculamos le media, la mediana y demas factores de estadistica

En este caso tenemos que obtener el promedio, mediana, max, min, desviacion estandar y quartiles

In [11]:
# Funcion para calcular los cuartiles 1 y 3 que indican en el paper
# 
def quartiles(x):
    return pd.Series([x.quantile(0.25), x.quantile(0.75)], index=['q1', 'q3'])

In [12]:
# Crear a serie de dataframe de 5 min
series5min = quartiles(df_procesado_5min)
series5min.head()

q1    datetime
2020-07-16 09:25:00   -86.1200
2020-0...
q3    datetime
2020-07-16 09:25:00    81.6100
2020-0...
dtype: object

In [13]:
# Definimos los metodos del dataframe a calcular
df_5min = df_procesado_5min.agg(['mean', 'median', 'max', 'min', 'std'])
print(df_5min.columns)
# Removemos las columnas que no necesitamos por ahora
# Supongamos que tienes tus datos en un DataFrame llamado 'df'
# columns_to_remove = [' temp']
# df_5min = df_5min.drop(columns=columns_to_remove)
df_5min.head(20)

Index(['mean', 'median', 'max', 'min', 'std'], dtype='object')

                         mean  median      max      min         std
datetime
2020-07-16 09:25:00  0.075661  -0.515  1087.16  -800.87  202.016886
2020-07-16 09:30:00  0.121937   2.545   887.80  -869.75  100.128266
2020-07-16 09:35:00 -0.157578   2.220   366.76  -465.28   56.261485
2020-07-16 09:40:00  0.036537   0.890  1108.86 -1143.69   76.742150
2020-07-16 09:45:00  0.073001   3.400   584.70  -768.77   55.487780
2020-07-16 09:50:00 -0.127534   2.130   855.86 -1015.84   56.718597
2020-07-16 09:55:00 -0.107171   2.320  1220.25  -976.40  105.230178
2020-07-16 10:00:00  0.135058   1.710   714.79  -630.74   89.637724
2020-07-16 10:05:00  0.006908   3.630   526.22  -983.46   61.917530
2020-07-16 10:10:00 -0.002059   0.710  1665.45 -1471.67  128.200536
2020-07-16 10:15:00  0.027659   1.195   429.20  -316.61   49.026465
2020-07-16 10:20:00 -0.033472   2.145   267.80  -408.59   39.881331
2020-07-16 10:25:00  0.000893   2.430   411.51  -565.60   51.975331
2020-07-16 10:30:00 -0.024155   2.310   291.85  -282.09   39.643494
2020-07-16 10:35:00  0.018906   5.100   311.42  -573.92   46.477246
2020-07-16 10:40:00 -0.027360   2.090   427.74  -361.92   39.521887
2020-07-16 10:45:00  0.043643   0.680   711.10  -635.36   54.699285
2020-07-16 10:50:00 -0.048794  -0.465  1212.83  -814.24  118.806544
2020-07-16 10:55:00  0.091351  -0.025   469.77  -563.33   69.088749
2020-07-16 11:00:00 -0.040749  -0.195   532.64  -400.66   47.334934

In [14]:
# Lo mismo aplicamos para 1 hora
df_procesado_1hora = bvp_values[' bvp'].resample('1h') 
# Obtenemos el promedio
df_1hora = df_procesado_1hora.agg(['mean', 'median', 'max', 'min', 'std'])

# Removemos las columnas que no necesitamos por ahora
# df_1hora = df_1hora.drop(columns=columns_to_remove)
df_1hora.head(20)

                         mean  median      max      min         std
datetime
2020-07-16 09:00:00 -0.023656   2.100  1220.25 -1143.69   84.501906
2020-07-16 10:00:00  0.015715   1.660  1665.45 -1471.67   71.978397
2020-07-16 11:00:00 -0.002185   0.580   590.36  -601.69   45.496850
2020-07-16 12:00:00 -0.001300   0.340   640.27  -726.35   40.002891
2020-07-16 13:00:00 -0.002204   1.280   880.42  -911.82   67.868007
2020-07-16 14:00:00  0.003341   1.930  1227.03 -1305.97   87.921658
2020-07-16 15:00:00  0.001908   1.485   989.81 -1389.04   77.567803
2020-07-16 16:00:00 -0.011556   2.160  1694.35 -1984.56   94.853786
2020-07-16 17:00:00  0.011067   3.410   904.58 -1572.00   91.693795
2020-07-16 18:00:00 -0.000955   2.530   493.82  -685.68   64.841616
2020-07-16 19:00:00 -0.000406   1.050   901.88  -985.68   62.252032
2020-07-16 20:00:00 -0.006087   1.370   551.43  -759.85   56.637121
2020-07-16 21:00:00  0.005508   1.790   947.64  -721.87   54.345482
2020-07-16 22:00:00 -0.001687   2.390   455.17  -618.41   46.539131
2020-07-16 23:00:00 -0.000169   0.630  1724.99 -1900.32   83.653627
2020-07-17 00:00:00 -0.003529   5.580   778.43  -775.19   79.433517
2020-07-17 01:00:00 -0.001300  -2.565   676.54  -723.67  128.558786
2020-07-17 02:00:00  0.006593  -5.550  1169.65 -1622.91   85.135587
2020-07-17 03:00:00 -0.007087   6.030   748.50 -1002.66  113.337079
2020-07-17 04:00:00 -0.002963  15.965   824.36  -865.50  148.662204

In [15]:
# Separar los cuartiles en columnas individuales
# Obtenemos los quantiles
df_5min_quantil1 = df_procesado_5min.quantile(0.25)
df_5min_quantil3 = df_procesado_5min.quantile(0.75)
df_1hora_quantil1 = df_procesado_1hora.quantile(0.25)
df_1hora_quantil3 = df_procesado_1hora.quantile(0.75)
df_5min['q1'] = df_5min_quantil1
df_5min['q3'] = df_5min_quantil3
df_5min.head(10)
# df_1hora[['q1', 'q3']] = [df_1hora_quantil1,df_1hora_quantil3]

,mean,median,max,min,std,q1,q3
datetime,,,,,,,
2020-07-16 09:25:00,0.075661,-0.515,1087.16,-800.87,202.016886,-86.1200,81.6100
2020-07-16 09:30:00,0.121937,2.545,887.80,-869.75,100.128266,-29.6425,29.5550
2020-07-16 09:35:00,-0.157578,2.220,366.76,-465.28,56.261485,-20.6025,22.3550
2020-07-16 09:40:00,0.036537,0.890,1108.86,-1143.69,76.742150,-21.2150,20.9225
2020-07-16 09:45:00,0.073001,3.400,584.70,-768.77,55.487780,-22.7425,23.3700
2020-07-16 09:50:00,-0.127534,2.130,855.86,-1015.84,56.718597,-20.2225,20.8700
2020-07-16 09:55:00,-0.107171,2.320,1220.25,-976.40,105.230178,-29.8200,25.8850
2020-07-16 10:00:00,0.135058,1.710,714.79,-630.74,89.637724,-27.3625,27.4000
2020-07-16 10:05:00,0.006908,3.630,526.22,-983.46,61.917530,-21.7100,24.3200
2020-07-16 10:10:00,-0.002059,0.710,1665.45,-1471.67,128.200536,-31.6450,30.2600

In [16]:
df_5min.count()

mean      1866
median    1866
max       1866
min       1866
std       1866
q1        1866
q3        1866
dtype: int64

In [17]:
# Igual con 1hora de dataset
df_1hora['q1'] = df_1hora_quantil1
df_1hora['q3'] = df_1hora_quantil3
df_1hora.head(10)

,mean,median,max,min,std,q1,q3
datetime,,,,,,,
2020-07-16 09:00:00,-0.023656,2.100,1220.25,-1143.69,84.501906,-24.2000,24.1800
2020-07-16 10:00:00,0.015715,1.660,1665.45,-1471.67,71.978397,-22.9200,22.1300
2020-07-16 11:00:00,-0.002185,0.580,590.36,-601.69,45.496850,-11.6800,10.9900
2020-07-16 12:00:00,-0.001300,0.340,640.27,-726.35,40.002891,-7.6100,7.3300
2020-07-16 13:00:00,-0.002204,1.280,880.42,-911.82,67.868007,-29.3400,31.5100
2020-07-16 14:00:00,0.003341,1.930,1227.03,-1305.97,87.921658,-25.9400,28.8300
2020-07-16 15:00:00,0.001908,1.485,989.81,-1389.04,77.567803,-22.9900,25.0600
2020-07-16 16:00:00,-0.011556,2.160,1694.35,-1984.56,94.853786,-33.3200,36.2300
2020-07-16 17:00:00,0.011067,3.410,904.58,-1572.00,91.693795,-42.8600,45.6725
2020-07-16 18:00:00,-0.000955,2.530,493.82,-685.68,64.841616,-32.4825,33.1700

In [18]:
df_1hora.count()

mean      161
median    161
max       161
min       161
std       161
q1        161
q3        161
dtype: int64

In [19]:
# Exportamos los resultados en un csv
df_5min.to_csv("BVP_5min.csv")
df_1hora.to_csv("BVP_1hora.csv")

### ARCHIVOS CSV GENERADOS CON EXITO PARA 5 MIN Y 1 HORA