## ANALISIS DE DATOS DE ACC (ACELEROMETRO)

El presente es para analizar los datos del acelerometro del smartwatch, el cual tiene un procesamiento de datos en 32Hz, que seria la 32ava parte de un segundo

In [2]:
# Importando Pandas y otras librerias
import pandas as pd

In [9]:
# Leyendo el CSV
acelerometro_values = pd.read_csv('F://Jesus//UNSA//Maestria//Tesis//Codigo Test//PreTesisMasterRepo//ACC//ACC_016.csv', engine='python', na_values="not available")

In [10]:
acelerometro_values.head()

                     datetime   acc_x   acc_y   acc_z
0  2020-07-16 09:29:03.000000   -39.0   -28.0    37.0
1  2020-07-16 09:29:03.031250   -38.0   -27.0    37.0
2  2020-07-16 09:29:03.062500   -37.0   -37.0    37.0
3  2020-07-16 09:29:03.093750   -47.0   -27.0    41.0
4  2020-07-16 09:29:03.125000   -39.0   -37.0    34.0

In [11]:
acelerometro_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17860788 entries, 0 to 17860787
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  object
 1    acc_x    float64
 2    acc_y    float64
 3    acc_z    float64
dtypes: float64(3), object(1)
memory usage: 545.1+ MB

In [12]:
acelerometro_values.count()

datetime    17860788
 acc_x      17860788
 acc_y      17860788
 acc_z      17860788
dtype: int64

In [13]:
acelerometro_values["datetime"].head()

0    2020-07-16 09:29:03.000000
1    2020-07-16 09:29:03.031250
2    2020-07-16 09:29:03.062500
3    2020-07-16 09:29:03.093750
4    2020-07-16 09:29:03.125000
Name: datetime, dtype: object

### Trabajando con Datetime
Lo primero sera convertir los datetime a el formato correcto, ya que lo esta detectando como object, lo siguiente sera colocar como index las fechas y al final agrupar por cada 5 minutos los datos para obtener el promedio y media de los datos

In [14]:
# Convertimos en fechas los datimetimes
acelerometro_values['datetime'] = pd.to_datetime(acelerometro_values['datetime'])

In [15]:
acelerometro_values = acelerometro_values.set_index('datetime')

In [16]:
df_procesado = acelerometro_values.resample('5min')

In [17]:
# Obtenemos el promedio
df_promedio = df_procesado.mean()
df_promedio.head()

                         acc_x      acc_y      acc_z
datetime
2020-07-16 09:25:00   4.867325  -0.680921   6.506579
2020-07-16 09:30:00  50.672187 -11.917500 -13.935833
2020-07-16 09:35:00  45.593125 -16.249479   3.055833
2020-07-16 09:40:00  41.990729 -26.802396  12.815417
2020-07-16 09:45:00  51.089583 -16.271354  -9.667083