## ANALISIS DE DATOS DE HR (HEART RATE)

El presente es para analizar los datos del Heart Rate del smartwatch, el cual tiene un procesamiento de datos en 1Hz, que seria un dato por segundo

In [1]:
# Importando Pandas y otras librerias
import pandas as pd
import numpy as np

In [2]:
# Leyendo el CSV
heartrate_values = pd.read_csv('D://Jesus//UNSA//Maestria//Tesis//Codigo Test//PreTesisMasterRepo//HR//HR_016.csv', engine='python', na_values="not available")

In [3]:
heartrate_values.head()

              datetime     hr
0  2020-07-16 09:29:13  71.00
1  2020-07-16 09:29:14  84.00
2  2020-07-16 09:29:15  81.67
3  2020-07-16 09:29:16  82.50
4  2020-07-16 09:29:17  78.60

In [4]:
heartrate_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558104 entries, 0 to 558103
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  558104 non-null  object
 1    hr       558104 non-null  float64
dtypes: float64(1), object(1)
memory usage: 8.5+ MB

In [5]:
heartrate_values.count()

datetime    558104
 hr         558104
dtype: int64

In [6]:
heartrate_values["datetime"].head()

0    2020-07-16 09:29:13
1    2020-07-16 09:29:14
2    2020-07-16 09:29:15
3    2020-07-16 09:29:16
4    2020-07-16 09:29:17
Name: datetime, dtype: object

### Trabajando con Datetime
Lo primero sera convertir los datetime a el formato correcto, ya que lo esta detectando como object, lo siguiente sera colocar como index las fechas y al final agrupar por cada 5 minutos los datos para obtener el promedio y media de los datos

In [8]:
# Convertimos en fechas los datimetimes
heartrate_values['datetime'] = pd.to_datetime(heartrate_values['datetime'])
print(heartrate_values.columns)

Index(['datetime', ' hr'], dtype='object')

In [9]:


## AÃ±adimos el valor de la magnitud
heartrate_values["magnitude"] = np.sqrt(heartrate_values[' hr']**2)
heartrate_values = heartrate_values.set_index('datetime')
heartrate_values.head()

                        hr  magnitude
datetime
2020-07-16 09:29:13  71.00      71.00
2020-07-16 09:29:14  84.00      84.00
2020-07-16 09:29:15  81.67      81.67
2020-07-16 09:29:16  82.50      82.50
2020-07-16 09:29:17  78.60      78.60

In [10]:
df_procesado_5min = heartrate_values.resample('5min')

### Calculamos la magnitud del vector

En este caso tenemos que encontrar la magnitud del vector, en este caso en 3D, donde obtendremos el promedio

In [11]:
# Obtenemos el promedio
df_promedio_5min = df_procesado_5min.agg(['mean', 'std'])

# Removemos las columnas que no necesitamos por ahora
# Supongamos que tienes tus datos en un DataFrame llamado 'df'
columns_to_remove = [' hr']
df_promedio_5min = df_promedio_5min.drop(columns=columns_to_remove)
df_promedio_5min.head(20)

                      magnitude
                           mean        std
datetime
2020-07-16 09:25:00   92.710426   5.689590
2020-07-16 09:30:00   78.698367   5.966452
2020-07-16 09:35:00   72.131633   5.619535
2020-07-16 09:40:00   80.821033   6.748584
2020-07-16 09:45:00   75.150100   2.996422
2020-07-16 09:50:00   76.813000   3.940826
2020-07-16 09:55:00   76.277867   2.470976
2020-07-16 10:00:00   82.592200  11.078854
2020-07-16 10:05:00  109.748933   4.470669
2020-07-16 10:10:00  106.489533  11.449818
2020-07-16 10:15:00   85.997300   2.309632
2020-07-16 10:20:00   85.301167   1.481097
2020-07-16 10:25:00   83.224867   1.726108
2020-07-16 10:30:00   80.975367   2.308578
2020-07-16 10:35:00   79.546133   1.537106
2020-07-16 10:40:00   80.126467   2.229366
2020-07-16 10:45:00   79.763567   4.857066
2020-07-16 10:50:00   88.764833  10.874989
2020-07-16 10:55:00  103.999133   8.001712
2020-07-16 11:00:00   99.048600   3.334556

In [12]:
# Lo mismo aplicamos para 1 hora
df_procesado_1hora = heartrate_values.resample('1h') 
# Obtenemos el promedio
df_promedio_1hora = df_procesado_1hora.agg(['mean', 'std'])

# Removemos las columnas que no necesitamos por ahora
df_promedio_1hora = df_promedio_1hora.drop(columns=columns_to_remove)
df_promedio_1hora.head(20)

                      magnitude
                           mean        std
datetime
2020-07-16 09:00:00   77.057385   6.135436
2020-07-16 10:00:00   88.877458  12.509688
2020-07-16 11:00:00   85.929608   9.778335
2020-07-16 12:00:00   81.495628   6.695853
2020-07-16 13:00:00   84.967678   9.679853
2020-07-16 14:00:00   84.185486  13.558949
2020-07-16 15:00:00   93.193364  14.189919
2020-07-16 16:00:00   97.614256  13.917173
2020-07-16 17:00:00   92.581403  10.287956
2020-07-16 18:00:00   86.287961   7.600619
2020-07-16 19:00:00  101.236703   9.126212
2020-07-16 20:00:00   97.275033   8.870870
2020-07-16 21:00:00   84.482011   9.716740
2020-07-16 22:00:00   83.901550  10.209972
2020-07-16 23:00:00   78.761856   9.844565
2020-07-17 00:00:00   75.883469   3.025289
2020-07-17 01:00:00   77.057236   1.944245
2020-07-17 02:00:00   78.412336   3.764775
2020-07-17 03:00:00   73.430925   7.351499
2020-07-17 04:00:00   72.792169   4.139268

In [13]:
# Exportamos los resultados en un csv
df_promedio_5min.to_csv("ACC_5min.csv")
df_promedio_1hora.to_csv("ACC_1hora.csv")

### ARCHIVOS CSV GENERADOS CON EXITO PARA 5 MIN Y 1 HORA